<%# Takes listing -%>
<div class="listing urn-<%= listing.urn %>">
  <a href="<%=h listing.url %>">
    <div class="img">
      <% if listing.respond_to?(:picture) && !listing.picture.nil? then -%>
        <img src="<%= listing.picture %>" />
      <% end -%>
    </div>
    <div class="name"><%=h listing.name rescue 'unknown' %></div>
    <div class="description"><%=h listing.description  rescue 'unknown' %></div>
    <div class="clearfix">&nbsp;</div>
  </a>
</div>